body{

}
.container{
    text-align: center;
    margin: auto;
}

#test{
    margin-top: 20%;
    margin-bottom: 20%;
}
#id{
    width: 5%;
    overflow: hidden;
}


footer{
    display: block;
    background: #dcdcdc;
    text-align: center;
    margin: auto;
    position: fixed;
    bottom: 0px;
}

#borrow-submit{
    margin-top: 10px;
    width: 120px;

}