{% extends "base.html" %}
{% block title %}借取{{ book.name }}{% endblock %}
{% block script %}
<script type="text/javascript" src="http://www.douban.com/js/api.js?v=2"></script>
<script type="text/javascript" src="http://www.douban.com/js/api-parser.js?v=1"></script>
<script>
    DOUBAN.apikey = '00fa6c0654689a0202ef4412fd39ce06'
    DOUBAN.getISBNBook({
    isbn:'{{ booksinfo.Isbn }}', 
    callback:function(book1){
        var subj = DOUBAN.parseSubject(book1)
        var tl = subj.title ? subj.title : "";
        var author = subj.author ? subj.author : "";
        $('#cover-image').attr("src",subj.link.image);
        $('#title').attr("href",subj.link.alternate);
        $('#title').html(tl);
        $('#author').html(subj.attribute.author);
        $('#ISBN').html(subj.attribute.isbn13);
        var publi=subj.attribute.publisher+"/"+subj.attribute.pubdate;
        $('#publisher').html(publi);
        $('#rating-average').html(subj.rating.average);
    }
})
</script>
{% endblock %}
{% block content %}

<div class="container row" id="borrow">
    <div id="information-div" class="col-md-6">
        <div id="cover-div" class="col-md-2">
            <img width="106px" height="160px" id="cover-image"/>
        </div>
        <div id="information-subdiv" class="col-md-10">
            <div class="col-md-4" style="text-align: right;padding-right: 0">
                <h3>&nbsp;</h3>
                <p>作者：</p>
                <p>ISBN：</p>
                <p>出版信息：</p>
                <p>豆瓣评分：</p>
            </div>
            <div class="col-md-8" style="text-align: left;padding-left: 0">
                <h3><a id="title" target='_blank'></a></h3>
                <p id="author"></p>
                <p id="ISBN"></p>
                <p id="publisher"></p>
                <p id="rating-average"></p>
            </div>
        </div>
    </div>

    <div id="form-div" class="col-md-6 form-group">
        <form id="borrow-form" class="form-horizontal">

            <div class="row">
                <div class="col-md-12">
                    <input id="name" type="text" class="form-control" placeholder="請輸入您的姓名或ID" style="margin-bottom: 1%">
                </div>
                <div class="col-md-7">
                    <select id="borrowtime" class="form-control">
                        <option>请选择您要借的时间</option>
                        <option value="7">一周</option>
                        <option value="14">两周</option>
                        <option value="21">三周</option>
                        <option value="28">1个月</option>
                    </select>
                </div>
                <div class="col-md-offset-3 col-md-1 ">
                    <input id="borrow-submit" class="btn btn-info" type="submit" class="form-control" placeholder="提交">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}