{% extends "base.html" %}
{% block title %}借取{{ book.name }}{% endblock %}
{% block script %}
<script type="text/javascript" src="http://www.douban.com/js/api.js?v=2"></script>
<script type="text/javascript" src="http://www.douban.com/js/api-parser.js?v=1"></script>
<script>
    $(document).ready(function(){
        $('.alert').hide();
        $('#information-div').mouseover(function(){
            $('#summary-show').fadeOut("fast");
            $('.alert').fadeIn("slow");
        });
        $("#id_usrid").val("请输入您的姓名或id");
    });
    DOUBAN.apikey = '00fa6c0654689a0202ef4412fd39ce06'
    DOUBAN.getISBNBook({
    isbn:'{{ booksinfo.Isbn }}', 
    callback:function(book1){
        var subj = DOUBAN.parseSubject(book1)
        var tl = subj.title ? subj.title : "";
        var author = subj.author ? subj.author : "";
        $('#cover-image').attr("src",subj.link.image);
        $('#title').attr("href",subj.link.alternate);
        $('#title').html(tl);
        $('#author').html(subj.attribute.author);
        $('#ISBN').html(subj.attribute.isbn13);
        $('#summary-div').html(subj.summary);
        var publi=subj.attribute.publisher+"/"+subj.attribute.pubdate;
        $('#publisher').html(publi);
        $('#rating-average').html(subj.rating.average);
    }
})
</script>

<style>
  form input{
      padding-top: 10px;
      margin-bottom: 20px;
  }

    #id_usrid {
  display: block;
  width: 40%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#id_usrid:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

#id_usrid:-moz-placeholder {
  color: #999999;
}

#id_usrid::-moz-placeholder {
  color: #999999;
  opacity: 1;
}

#id_usrid:-ms-input-placeholder {
  color: #999999;
}

#id_usrid::-webkit-input-placeholder {
  color: #999999;
}

#id_usrid[disabled],
#id_usrid[readonly],
fieldset[disabled] #id_usrid {
  cursor: not-allowed;
  background-color: #eeeeee;
}

textarea#id_usrid {
  height: auto;
}
    #id_time{

    }
.time{
    text-align: left;
}
</style>
{% endblock %}
{% block content %}

<div class="container row" id="borrow">
 <div id="information-div" class="row responsive-utilities-test visible-on">
        <div id="cover-div" class="col-xs-3 col-sm-2">
            <img width="106px" height="160px" id="cover-image"/>
        </div>
        <div id="information-subdiv">
            <div class="col-xs-5 col-sm-4" >
                <h3>&nbsp;</h3>
                <p>作者：</p>
                <p>ISBN：</p>
                <p>出版信息：</p>
                <p>豆瓣评分：</p>
            </div>
            <div class="col-xs-4 col-sm-4" >
                <h3><a id="title" target='_blank'></a></h3>
                <p id="author"></p>
                <p id="ISBN"></p>
                <p id="publisher"></p>
                <p id="rating-average"></p>
            </div>

        </div>
        <div  class="alert col-md-12" style="text-align: left">
            <blockquote>
            <p id="summary-div"></p>
            </blockquote>
        </div>
    </div>


    <div id="form-div" class="col-md-6 form-group">
        <form id="borrow-form" class="form-horizontal" action="" method="POST">

            <div class="">

                {% if form.errors %}
                <p style="color:red">
                    {{ form.errors|pluralize }}
                </p>
                {% endif %}

                <div class="col-md-12">
                    <div style="display:none">{{ book }}</div>
                    {{ form.usrid.errors }}
                    {{ form.usrid }}
                </div>

                <div class="col-md-7 time" >
      <!--              <select id="borrowtime" class="form-control">
                        <option>请选择您要借的时间</option>
                        <option value="{{ time }}">一周</option>
                        <option value="{{ time }}">两周</option>
                        <option value="{{ time }}">三周</option>
                        <option value="{{ time }}">1个月</option>
                    </select>  -->
                {{ form.time.errors }}
       <!--         <select id="id_time" name="time" class="form-control">
                        <option>请选择您要借的时间</option>
                        <option value="7" selected="selected">一周</option>
                        <option value="14">两周</option>
                        <option value="21">三周</option>
                        <option value="30">1个月</option>
                </select>   -->
                <label for="id_time" >请选择您要借的时间</label>
                {{ form.time }}


                </div>  

                <div class="col-md-1 ">
                    <input id="borrow-submit" class="btn btn-info" type="submit" class="form-control" placeholder="提交">
                </div>
            </div>
        </form>
    </div>

</div>
{% endblock %}