{% extends "base.html" %}
{% block title %}XDLinux Book Manager{% endblock %}
{% block script %}
    <script>
        var storage = window.localStorage;
        $(document).ready(function() {
        if (!storage.getItem("passTheTest")) storage.setItem("passTheTest",0);
        if (storage.passTheTest == 0)
            $("#main").hide();
        else{
            $("#main").show();
            $("#test").hide();
        };
        })
        var test = function(){
            if($("#testForGuest").val() === "西电开源社区"){
            $("#main").fadeIn("slow");
            $("#test").fadeOut("fast");
            storage.passTheTest = 1;
            }else{
                $("#testForGuest").val("少侠你写错了！改过重来！");
                $("#test").addClass("has-error");
            };
        }
    </script>
{% endblock %}
{% block content %}


    <div id="test" class="form-group container row">
        <div class=" col-md-6 col-md-offset-2">
            <input type="text" class="form-control input-lg" id="testForGuest" placeholder="输入这个组织的名字">
        </div>
        <input type="submit" placeholder="提交" class="col-md-2 btn-lg alert-success" onclick="test()">
    </div>
    <div class="container" id="main">
        <div class="content">
            <h2 class="hero">Choose the book you really need</h2>
        </div>
                <div class="col-md-8 col-md-offset-2">

                    <table class="table table-hover table-bordered " style="">
                    <tr>
                    <td id="number">Type</td>
                    <td id="name">书名</td>
                    <td id="isbn">价格</td>
                    <td id="price">Publish</td>
                    <td id="state">图书来源</td>
                    <td id="owner">Keeper</td>
                    <td id="endtime">Endtime</td>
                   
                    </tr>
                    

                    {% for book in books %}
                  
                    <tr class="
                    {% if book.Endtime == none %}success
                    {% else %}danger
                    {% endif %}">
                    <td>{{ book.Types }}</td>
                    <td><a href="./borrow/{{ book.Number }}/">{{ book.Title }}</a></td>
                    <td>{{ book.Price }}</td>
                    <td>{{ book.Publish }}</td>
                    <td>{{ book.Owner }}</td>
                    {% if  book.Ordered and book.Keeper %}
                    <td>Ordered</td>
                    <td></td>
                    {% elif book.Ordered = False and book.Keeper %}
                    <td>{{ book.Keeper }}</td>
                    <td>{{ book.Endtime }}</td>
                    {% elif book.Ordered = False and not book.Keeper %}
                    <td></td>
                    <td></td>
                    {% endif %}

                    </tr>


                    {% endfor %}
                  




                    <!--{% for book in book_list %}-->
                    <!--<tr class="-->
                    <!--{% if book.book_number == 0 %}-->
                    <!--danger-->
                    <!--{% else %}-->
                    <!--success-->
                    <!--{% endif %}-->
                    <!--">-->
                        <!--<td>{{ book.book_sequenceNumber }}</td>-->
                        <!--<td>{{ book.book_name }}</td>-->
                        <!--<td>{{ book.book_ISBN }}</td>-->
                        <!--<td>{{ book.book_number }}</td>-->
                        <!--<td>{{ book.book_owner }}</td>-->
                        <!--<td>{{ borrow.keeper }}</td>-->
                        <!--<td>{{ borrow.endtime }}</td>-->
                    <!--</tr>-->

                    <!--{% endfor %}-->
                </table>
        </div>
    </div>
{% endblock %}